<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>

  <.input field={f[:original_url]} label="URL" autocomplete="off" />

  <:actions>
    <.button>Shorten Link</.button>
  </:actions>
</.simple_form>
