<.header>
  New Link
  <:subtitle>Create a new shortened link to another URL.</:subtitle>
</.header>

<.link_form changeset={@changeset} action={~p"/links"} />

<%!-- <.back navigate={~p"/"}>Back home</.back> --%>
