<.header>
  New Link
  <:subtitle>Create a new shortened link to another URL.</:subtitle>
</.header>

<.link_form changeset={@changeset} action={~p"/links"} />

<.recent_links_table conn={@conn} links={@recent_links} />

<%!-- <.back navigate={~p"/"}>Back home</.back> --%>
