<div :if={@links != []} class="mt-4">
  <h3 class="text-xl">Recent Links</h3>
  <.table id="recent-links" rows={@links}>
    <:col :let={link} label="Slug">
      <.link href={short_url(@conn, link)}><%= link.slug %></.link>
    </:col>
    <:col :let={link} label="Original URL">
      <.link href={link.original_url}><%= link.original_url %></.link>
    </:col>
  </.table>
</div>
